.Welcome{
    background-image: url(../../img/header-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 2rem;
        font-weight: $fw-n;
        color: $dark-blue;
        line-height: 2;

        @include mq{
            font-size: 2.5rem;
        }

        span{
            @include sans-serif($fs:5.5rem, $color:$accent);
            display: block;
            text-align: center;
            @include mq {
                font-size: 7rem;
            }
        }
        &::before,
        &::after{
           content: '';
           display: block;
           width: 100%;
           height: 3px;
           background: $dark-blue;
        }
        
        &::before{
            margin: 0 auto 1em;
        }
        &::after{
            margin: 1em auto 0;
        }
    }
}