 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');
/*font-family: 'Source Code Pro', monospace;*/


/*
#883F8C
#D25180
#FF7D6A
#FFB95B
#F9F871





#163780
#5565B6
#EDEEFF
#CFA616
*/


*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #5565B6;
}

.Header{
	margin: 0 auto;
	width: 50%;
}

.Header__Img{
	margin: 0 auto;
	width: 75%;
	
}

img{
	border-radius: 50%;
	margin: 0 auto;
	border:2px solid green;
}


.Header__Name{
	font-family: 'Source Code Pro', monospace;
	font-weight: 800;
	font-size: 40px;
	color: purple;
}

.Header__Description{
	background: black;
	color: #D25180;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
}

.Header__Description span{
	color:#F9F871;
}

.Skills__List{
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 10px; 
	list-style: none;
	border: 2px solid grey;
	width: 80%;
	margin: 0 auto;
	border-radius: 25px;
	padding: 15px 0;
	background: #163780

}


.Skills__List--Item{
	width: 30%;
	margin:0 auto;
}