.AboutMe{
    @include container;
    @include clearfix;

    margin-top: 3em;
}

.AboutMe__Img{
    max-height: 25em;

    @media (min-width: 42em){
        float: left;
        margin-right: 1em;
    }
}

.AboutMe__Title{
    position: relative;
    margin-bottom: .25em;
   
}

.AboutMe__Subtitle{
    text-align: center;
    margin: 1em 0;
}

@supports(display: grid){
    .AboutMe{
        display: grid;
        grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em,1fr) [img-end] 2fr [port-end];
    }
    .AboutMe__Img{
        grid-column: port-start/img-end;
        grid-row: 1/2;
    }

    .AboutMe__Title {
        grid-column: name-start/port-end;
        grid-row: 1/2;
        align-self: end;
    }

    .AboutMe__Subtitle,
    .AboutMe__Text{
        grid-column: port-start/port-end;
    }

}