.Portfolio{
    text-align: center;
    background: $gray;
    padding: 5em 0;
}
.Portfolio__Items{
    display: flex;
    flex-wrap: wrap;
    @include container ($max-width: 75rem);
}

.Portfolio__Item{
    flex: 1 1 10rem;
}

.Portfolio__Item,
.Portfolio__Item--Featured{
    position: relative;
    overflow: hidden;
    
    
    margin:0 auto;
    img{
        display: block;
        height: 100%;
    }
    figcaption{
        position: absolute;
        top:100%;
        bottom:0;
        right: 0;
        left: 0;
        padding: 2em;
        background: rgba($accent, .75);
        color: white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 250ms;
        
    }
    &:hover figcaption,
    &:focus figcaption{
        top:0;
    }
}


.Portfolio__Item--Featured--Title,
.Portfolio__Item--Title{
    color:$white;
    font-size: 3.625rem;
    
    margin-bottom: auto;
}

.Portfolio__Item--Featured--Link,
.Portfolio__Item--Link{
    color:white;
    font-weight: $fw-b;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 3px solid $white;
    align-self: flex-start;

    &::after{
        content: url(../../img/arrow-white.svg);
        display: inline-block;
        height: 1em;
        width: 1em;
        margin-left: .5em;
    }
}


@supports(display: grid){
    .Portfolio__Items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .Portfolio__Item--Featured{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .Portfolio__Item--Featured--Title{
        font-size: 5rem;
    }

    .Portfolio__Item--Featured--Description{
        display: block;
    }
}