@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;900&family=Poppins:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;900&display=swap');

/*================================== ROOT =======================================*/
:root{
    --header-height:3rem;
    /*=========== COLORS ==========*/
    --dark-blue: #223843;
    
    --hue-color: 221; 
    
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt:hsl(var(--hue-color), 57%, 53%);
    --first-color-ligther:hsl(var(--hue-color), 92%, 85%);
    --title-color:hsl(var(--hue-color), 8%, 15%);
    --text-color:hsl(var(--hue-color), 8%, 45%);
    --text-color-light:hsl(var(--hue-color), 8%, 65%);
    --input-color:hsl(var(--hue-color), 70%, 96%);
    --body-color:hsl(var(--hue-color), 60%, 99%);
    --container-color:#FFF;
    
    
    /*=========== FONTS ==========*/
    /* --ff-s: 'Playfair Display', serif; */
    --ff-s: 'Roboto Slab', serif;
    --ff-ss: 'Poppins', sans-serif;;
    
    --fw-n:400;
    --fw-sb: 500;
    --fw-b:600;
    --fw-eb:900;
    
    --letter-spacing: 10px;
    
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    
    /*=========== MARGINS ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    
    /*=========== Z-INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    
    /*=========== BOX-SHADOW ==========*/
    --box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media screen and (min-width: 968px){
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*================================== BASE =======================================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--ff-ss);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    font-family: var(--ff-ss);
    color: var(--title-color);
    font-weight: var(--fw-b);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*============================= REUSABLE CSS CLASSES ==================================*/
body{
    background: var(--container-color);
    color: var(--input-color);
    margin: 0;
    overflow-x: hidden;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

img{
    display: block;
    max-width: 100%;
}
/*--------------- Typography ---------------*/
h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--h1-font-size);}
h2{ font-size: var(--h2-font-size);}
h3{ font-size: var(--h3-font-size);}

.button{
    display: inline-block;
    width: auto;
    margin-top: 1em;
    margin-left: auto;
    background: var(--dark-blue);
    border: none;
    color: white;
    font-size:1rem;
    letter-spacing:.15em;
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--ff-ss);
   
    padding: .5em 1.5em;
   
}

section{
    padding: 2em 5em;
}

.section__title{
    margin-bottom: .25em;

}

.section__title--intro{
    font-weight: var(--fw-b);
}

.section__title--intro strong{
    display: block;
}

strong{
    font-weight: var(--fw-eb);
}

.section__subtitle{
    margin: 0;
    font-size: var(--h3-font-size);
    font-family: var(--ff-s);
    font-weight: var(--fw-sb);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--dark-blue);
    padding: .25em 1em;
    margin-bottom: 1em;
}
.section__title--separator{
    text-align: center;
}
/*============================= INTRODUCTION ==================================*/
.intro-container{
    height: 100vh;
}

.intro-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('./../img/Large-Triangles.svg');
    opacity: 0.7;
}

.section-centered{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hr{
    height: 3px;
    background: var(--dark-blue);
}

.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--box-shadow);
}

.section__subtitle--intro{
    display: inline-block;
}
.home__social{
    display: flex;
    justify-content: space-evenly;
   
}

.home__social-icon{
    font-size: 2rem;
    color: white;
    z-index: 100;
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

@media (min-width: 900px){
    .section-centered{
        align-items: center;
    }

    .intro{
        display: grid;
        width: min-content;
        margin: auto auto;
        column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .home__social{
        display: grid;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 25vh 1rem;
        grid-template-columns: max-content;
        height: 60vh;        
    }
}

/*============================= SECOND INTRODUCTION ==================================*/

.secondIntro{
    display: flex;
    color: rgba(white, .7);
    padding: 0;
    height: 30vh;

    @supports (display:grid){
        display: grid;
        grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
    }
}

.secondIntro h2{
    color: white;
}
.secondIntro h2::after{
    content: '';
    width: 20%;
    height: 2px;
    background: rgba(white, .5);
    display: block;
    margin: 1em auto 0;
}

.secondIntro__Middle{
    background: var(--dark-blue);
    padding: 2.5em 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondIntro__Left img,
.secondIntro__Right img{
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

/*=================================== SKILLS ========================================*/
.skills__container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.skills__header{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--dark-blue);
    border: none;
    font-size:2rem;
    letter-spacing:.15em;
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--ff-ss);
    padding: 1rem 2.7rem;
}

.skills__title{
    color: white;
    
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon{
    margin-right: var(--mb-0-75);
}

.skills__title{
    font-size:var(--h3-font-size);
    text-align: center;
}

.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    /* row-gap: 1.5rem; */
    transition: transform 0.26s ease;
    background: gray;
}

.skills__titles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skills__titles h3{
    margin-left: .5rem;
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    
}
.skills__svg{
    width: 2.5em;
}

.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: var(--first-color-ligther);
}

.skills__close .skills__list {
    height: 0;
    transform: scaleY(0);
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
    padding: 1rem 0 1rem 2.7rem;
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

@media (min-width: 900px){
    .skills__container{
        flex-direction: row;
        justify-content: space-around;
        
    }
}
/*================================== SWIPER ======================================*/

.swiper-container{
    height: 61vh;
    width: 61vw;
}

.swiper-slide{
    background: #CCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.Slide__Bg{
    position: absolute;
}

.Slide__Bg--Kitchen{
    height: 100%;
    
}

.Slide__Bg--Weather{
    height: 120%;
    top:-4em;
    width: fit-content;
}

.swiper-slide--Calc{
    background: hsl(222, 26%, 31%);;
}

.Slide__Bg--Calc{
    height: 90%;
    background-size: cover;
    left: 10em;

}

.Slide__Info__Left{
    width: 25rem;
    background: rgba(0,0,0,0.5);
    padding: .5em;
}

.Slide__Info__Header{
    z-index: 100;
    position: relative;
    width: 25rem;
    height: fit-content;
    background: rgba(0,0,0,0.5);
    /* border:2px solid red; */

}

.Slide__Info__Header__Title{
    color: white;
    font-weight: 300;
    margin: .5em .5em;
    /* border:2px solid red; */
}

.Slide__Info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: auto;
    width: 100%;
}


.Slide__Info__Stack{
    display: flex;
    justify-content: space-around;
}
/*================================== CONTACT ======================================*/

.ContactMe{
    padding: 5em;
    width: 90%;
    margin: 0 auto;
    max-width: 50em;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    display: block;
    margin-top: 1em;
    color: darkcyan;
}

input, textarea {
    box-sizing: border-box;
    display: block;
    padding: .75em;
    width: 100%;
    background: lighten(lightgray, 5%);
    border: 1px solid var(--dark-blue);
    font-size:  1.2rem;
}

.ContactMe__Form--Submit{
    display: inline-block;
    width: auto;
    margin-top: 1em;
    margin-left: auto;
    background: var(--dark-blue);
    border: none;
    color: white;
    font-size:2rem;
    letter-spacing:.15em;
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--ff-ss);
   
    padding: .5em 1.5em;
   
}

/*================================== FOOTER ======================================*/
footer{
    background: var(--dark-blue);
    padding: 5em 0;
    text-align: center;
}

.SocialIcons{
    width: 90%;
    margin: 0 auto;
    max-width: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  1.75em auto 4em;
}

.SocialIcon{
    width: 4em;
    height: 4em;
}

.SocialIcon--LinkedIn{
    width: 4.7em;
    height: 4.7em;
}

.Copyright::before{
        content: '';
        display: block;
        height: 1px;
        background: rgba(white, .15);
        margin: 4em auto;
        width: 25%;

}
